#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 100%;
  background-color: #c4c4c4;
  border: "2px solid red";
  /* transform: scale(90%); */
}

body {
  /* padding: 1em; */
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10% 10% 70% 10%;
  height: 80%;
}

.nav-bar {
  grid-column: span 12;
  grid-row: 2/3;
}

.playlists {
  grid-column: span 8;
  grid-row: 3/ -2;
}

.youtube-player {
  grid-column: span 4;
  grid-row: 3/ -2;
}

.status-bar {
  grid-column: span 12;
  grid-row: 4/5;
}

iframe {
  width: 100%;
}
